<h1 class="mb-5">Add a new friend</h1>

<%= form_for :friend, url:friends_path do |f| %>
 
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@friend.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @friend.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :first_name, class:"h3" %><br>
    <%= f.text_field :first_name, class:"form-control", placeholder:"Enter First Name" %>
  </p>
 
  <p>
    <%= f.label :last_name, class:"h3" %><br>
    <%= f.text_area :last_name, class:"form-control", placeholder:"Enter Last Name" %>
  </p>
  <p>
    <%= f.label :email, class:"h3" %><br>
    <%= f.text_area :email, class:"form-control", placeholder:"Enter Email" %>
  </p>

  <p>
    <%= f.label :phone_number, class:"h3" %><br>
    <%= f.text_area :phone_number, class:"form-control", placeholder:"Enter Phone Number" %>
  </p>
  <p>
    <%= f.label :twitter, class:"h3" %><br>
    <%= f.text_area :twitter, class:"form-control", placeholder:"Enter Twitter Account" %>
  </p>
 
  <p>
    <%= f.submit class:"btn btn-secondary mt-5"%>
  </p>
 
<% end %>

<%= link_to "Back", friends_path, class:"btn btn-primary"%>